/* Name BG with theme's name : i.e. : dark-MyTheme-BG */

.light-techDM-BG {
  /* The image used */
  background-image: url('../../assets/5053309-light.jpg');
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.dark-techDM-BG {
  /* The image used */
  background-image: url('../../assets/5053309-dark.jpg');
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
