*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

/* Name BG with theme's name : i.e. : dark-MyTheme-BG */
.light-defaultDM-BG {
  background-image: url('./assets/5053309-light.jpg');
}
.dark-defaultDM-BG {
  background-image: url('./assets/5053309-dark.jpg');
}
.content {
  width: 80%;
}
